.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header .header__logo {
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .header .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header .header__logo {
    margin-right: 93px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav .menu-button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  z-index: 99;
}

.site-nav .menu-button:hover, .site-nav .menu-button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav .menu-button {
    display: none;
  }
}

.site-nav .menu-button .menu-button__icon-menu {
  display: none;
}

.menu-button__icon-cross {
  position: block;
}

.menu-button.is-open .menu-button__icon-menu {
  display: block;
}

.menu-button.is-open .menu-button__icon-cross {
  display: none;
}

.menu-container {
  background-color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 48px;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 83px;
    z-index: 10;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav-set {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-set .nav-set__link {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-set .nav-set__link:hover, .nav-set .nav-set__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-set .nav-set__link {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-set .nav-set__link--active-page {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav-set .nav-set__link--active-page::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--accent-color);
    -webkit-border-radius: 2px;
            border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .nav-set__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site-contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: 305px;
  }
}

.site-contacts__link-tel {
  display: block;
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-contacts__link-tel {
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
}

.site-contacts__link-mail {
  display: block;
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .site-contacts__link-mail {
    margin-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts__link-mail {
    text-align: center;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.site-contacts__link {
  fill: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__link:hover, .site-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-contacts__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-contacts__icon-phone {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-contacts__icon-phone {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-contacts__icon-phone {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts__icon-phone {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .site-contacts__icon-mail {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-contacts__icon-mail {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts__icon-mail {
    margin-right: 10px;
  }
}

.social-header-set {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 767px) {
  .social-header-set {
    display: none;
  }
}

.social-header-set .social-header-set__link {
  padding: 10px;
  padding-left: 0;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-header-set .social-header-set__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero-page {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--bg-color);
}

@media screen and (min-width: 1200px) {
  .hero-page {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-page__overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headerbg.jpg);
  background-image: -webkit-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerbg.jpg);
  background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerbg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerbg.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-page__overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headerbg@2x.jpg);
    background-image: -webkit-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerbg@2x.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerbg@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerbg@2x.jpg);
  }
}

.hero-page .hero-page__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-page .hero-page__button {
  padding: 10px 32px;
}

.hero-page .hero-page__button:hover, .hero-page .hero-page__button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    -webkit-flex-basis: -webkit-calc((100% - 4 * 15px) / 2);
        -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
            flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    -webkit-flex-basis: -webkit-calc((100% - 8 * 15px) / 4);
        -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
            flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .feature__item {
    margin-bottom: 30px;
  }
}

.feature__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background: #f5f4fa;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.feature__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

.feature__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}

@media screen and (max-width: 1200px) {
  .reviews {
    display: none;
  }
}

.example {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 50px;
}

.example .example__item:not(:last-child) {
  margin-right: 30px;
}

.example .example__thumb {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.example .example__thumb::after {
  position: absolute;
  display: inline-block;
  content: "";
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  z-index: 1;
}

.example .example__paragraph {
  position: absolute;
  bottom: 0;
  padding-left: 83px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  z-index: 2;
}

.section__our-team {
  background-color: var(--accent-white-color);
}

@media screen and (min-width: 768px) {
  .team-member {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
}

.team-member .team-member__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-member .team-member__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-member .team-member__item {
    -webkit-flex-basis: -webkit-calc((100% - 4 * 15px) / 2);
        -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
            flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member .team-member__item {
    -webkit-flex-basis: -webkit-calc((100% - 8 * 15px) / 4);
        -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
            flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.team-member .team-member__box {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member .team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-member .team-member__post {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color);
}

.social-link--dark {
  fill: #afb1b8;
}

.clients-member {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .clients-member .clients-member__item {
    width: -webkit-calc((100% - 4 * 15px) / 2);
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients-member .clients-member__item {
    width: -webkit-calc((100% - 6 * 15px) / 3);
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-member .clients-member__item {
    -webkit-flex-basis: -webkit-calc((100% - 12 * 15px) / 6);
        -ms-flex-preferred-size: calc((100% - 12 * 15px) / 6);
            flex-basis: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
}

.clients-member .clients-member__link {
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-member .clients-member__link:hover, .clients-member .clients-member__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-member .clients-member__link:hover .clients-member__icon,
.clients-member .clients-member__link:focus .clients-member__icon {
  fill: var(--accent-color);
}

.clients-member .clients-member__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--bg-color);
  color: var(--primary-white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .footer__logo {
  color: var(--primary-white-color);
}

.footer .footer-nav {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer .footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .footer__button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 29px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .footer__button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/sendfooter.svg);
  -webkit-background-size: contain;
          background-size: contain;
}

.address-box {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .address-box {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .address-box {
    margin: 0;
  }
}

.address-box .address {
  font-style: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address-box .address .address__map-link {
  margin-top: 20px;
  margin-bottom: 8px;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.address-box .address .address__link {
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-box .address .address__link:hover {
  color: var(--primary-white-color);
}

.address-box .address .address__link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-box:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-box:not(:last-child) {
    display: inline-block;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box:not(:last-child) {
    margin: 0;
  }
}

.footer-box__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-form {
  border: none;
  padding: 0;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-form .subscribe-form__input {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  width: 100%;
  height: 50px;
  padding: 0 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .subscribe-form .subscribe-form__input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form .subscribe-form__input {
    width: 358px;
    margin: 0;
    margin-right: 12px;
  }
}

.subscribe-form .subscribe-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form .subscribe-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form .subscribe-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form .subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.social-link--inverse {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  overflow-y: scroll;
  padding: 15px;
  opacity: 1;
  /* 
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 0;
  } */
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
      -ms-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  background-color: var(--primary-white-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.modal .modal__button-close {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal .modal__button-close {
    top: 8px;
    right: 8px;
  }
}

.modal .modal__button-close:hover .modal__icon-close {
  fill: var(--accent-color);
}

.modal .modal__icon-close {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal__headline {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal .modal__headline {
    font-size: 20px;
    line-height: 23px;
  }
}

.modal .modal__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 56px;
}

.form {
  padding: 0;
  border: none;
}

.form .form__box {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form .form__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding: 0 10px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form .form__input:focus + svg {
  fill: var(--accent-color);
}

.form .form__icon {
  display: block;
  position: absolute;
  top: 35%;
  left: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .form__comment {
  width: 100%;
  height: 120px;
  display: block;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .form__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .form__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .form__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .form__comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.policy-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

.policy-box::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #212121;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-right: 7px;
}

.policy-box a {
  color: var(--accent-color);
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .policy-box {
    font-size: 14px;
    line-height: 2;
  }
}

.policy-checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.policy-checkbox:checked + .policy-box::before {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
}

.policy-checkbox:focus + .policy-box::before {
  outline: 1px solid var(--accent-color);
}

.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.filter .filter__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter .filter__item {
    margin-bottom: 0;
  }
}

.filter .filter__button {
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--accent-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .filter__button:hover, .filter .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter .filter__button--active-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio .portfolio__item {
    -webkit-flex-basis: -webkit-calc((100% - 4 * 15px) / 2);
        -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
            flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .portfolio__item {
    -webkit-flex-basis: -webkit-calc((100% - 6 * 15px) / 3);
        -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
            flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio .portfolio__item {
    margin-bottom: 30px;
  }
}

.portfolio .portfolio__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio__link:hover, .portfolio .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio .portfolio__link:hover:hover .portfolio__paragraph, .portfolio .portfolio__link:focus:hover .portfolio__paragraph {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.portfolio .portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio__paragraph {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 77px 24px;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (min-width: 768px) {
  .portfolio .portfolio__paragraph {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .portfolio__paragraph {
    padding: 63px 24px;
  }
}

.portfolio .portfolio__box {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio .portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio .portfolio__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-white-color: #f5f4fa;
  --bg-color: #2f303a;
  --primary-bg-color: #e5e5e5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .section-nopadding {
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo .logo__accent {
  color: var(--accent-color);
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link .social-link__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
}

.social-link .social-link__item:not(:last-child) {
  margin-right: 10px;
}

.social-link .social-link__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link .social-link__link:hover, .social-link .social-link__link:focus {
  background-color: #2196f3;
}

.social-link__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__link:hover .social-link__icon,
.social-link__link:focus .social-link__icon {
  fill: #ffffff;
}

.button {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */