:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-white-color: #f5f4fa;
  --bg-color: #2f303a;
  --primary-bg-color: #e5e5e5;
}

$primary-text-color: #212121;
$text-color: #757575;
$accent-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$accent-white-color: #f5f4fa;
$bg-color: #2f303a;
$primary-bg-color: #e5e5e5;

$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
